<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Список студентов</h2>
    <a href="{% url 'create' %}">Добавление студента</a>
    <table>
        <thead><th>Имя</th><th>Курсы</th></thead>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>
                    {% for course in student.courses.all %}
                        {{ course.name }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>